<% content_for :title do %>HMRC - Service dashboard - GOV.UK<% end %>

<% @js_config = {
  "controller" => "hmrc/controllers/overview"
} %>

<header>
  <h1>
    <span class="strapline">Service dashboard</span>
    &quot;My tax code is wrong&quot;
  </h1>
</header>

<section class="graph">
  <h1>Digital take-up</h1>
  <aside class='more-info'>
    <span class='more-info-link'>more info</span>
    <ul>
      <li>Data Source: HMRC</li>
    </ul>
  </aside>
  <h2>
    Change over time showing
    <span class="group0">past non-digital</span>,
    <span class="group1">digital</span> and
    <span class="group2">non-digital</span> contact from customers.
    <span class="group0">Past non-digital</span> is from 2010-2011,
    <span class="group1">digital</span> and <span class="group2">non-digital</span>
    are projections.
  </h2>
  <figure class="graph timeseries-graph" id="application-method-over-time"></figure>
</section>
