<% content_for :title do %>Lasting Power of Attorney - Service performance - GOV.UK<% end %>

<% @js_config = { "controller" => "lpa/controllers/overview" } %>

<header>
  <h1>
      <span class="strapline">Service performance</span>
      Lasting Power of Attorney
  </h1>
</header>

<% if Rails.application.config.feature_toggles[:lpa_dashboard_application_method] %>
<section class="graph">
  <h1>Application method over time</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Office of the Public Guardian (test data)</p>
      </div>
    </li>
  </ul>
  <h2>Number of <span class="group0">non-digital</span> and <span class="group1">digital</span> applications over time</h2>
  <figure class="graph timeseries-graph" id="application-method-over-time"></figure>
</section>
<% end %>

<% if Rails.application.config.feature_toggles[:lpa_conversion_funnel] %>
<section class="graph">
  <h1>Submission drop-offs</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data sources: Google Analytics (unique visitors numbers based on sampled data)</p>
        <p>Calculated as percentage of unique visitors who arrived at each stage out of those who started the transaction.</p>
      </div>
    </li>
  </ul>
  <h2>
    Percentages of unique visitors at each stage of the digital transaction
    <span class="group0">two weeks ago</span> compared with <span class="group1">last week</span>
  </h2>
  <figure class="graph conversion-graph" id="lpa-conversion-graph"></figure>
</section>
<% end %>

<%= render(partial: "common/modules/monitoring") if Rails.application.config.feature_toggles[:show_lpa_availability] %>
