<% content_for :title do %>Lasting Power of Attorney - Service performance - GOV.UK<% end %>

<header>
  <h1>
      <span class="strapline">Service performance</span>
      Lasting Power of Attorney
  </h1>
</header>
