<!DOCTYPE html>
<html>
<head>
  <title>Limelight</title>

  <% css_files.each do |css_file| %>
      <link rel="stylesheet" href="<%= css_file %>" type="text/css" media="screen"/>
  <% end %>

  <% jasmine_files.each do |jasmine_file| %>
      <script src="<%= jasmine_file %>" type="text/javascript"></script>
  <% end %>

  <% js_files.each do |js_file| %>
      <script src="<%= js_file %>" type="text/javascript"></script>
  <% end %>
</head>
<body>


<script type="text/javascript">
    var jsApiReporter = new jasmine.JsApiReporter();
    var specsList = [
        'spec/extensions/spec.model',
        'spec/extensions/spec.collection',
        'spec/extensions/spec.view',
        'spec/extensions/spec.d3view'
    ];
    requirejs.config({
        baseUrl: 'assets/',
        paths: {
            jquery: '/assets/vendor/jquery',
            jqueryxdr: '/assets/vendor/jquery.xdr',
            jquerymockjax: '/assets/vendor/jquery.mockjax',
            lodash: '/assets/vendor/lodash',
            backbone: '/assets/vendor/backbone',
            css: '/assets/vendor/require-css',
            modernizr: '/assets/vendor/modernizr',
            moment: '/assets/vendor/moment',
            tpl: '/assets/vendor/tpl',
            d3: '/assets/vendor/d3.v3'
        }
    });
    require(specsList, function() {
        var jasmineEnv = jasmine.getEnv();

        jasmineEnv.addReporter(new jasmine.HtmlReporter());
        jasmineEnv.addReporter(jsApiReporter);
        jasmineEnv.execute();
    }, function (e) {
        console.error(e, e.requireModules);
    });
</script>

</body>

</html>