<!DOCTYPE html>
<html>
<head>
  <title>Limelight</title>

  <% css_files.each do |css_file| %>
      <link rel="stylesheet" href="<%= css_file %>" type="text/css" media="screen"/>
  <% end %>

  <% jasmine_files.each do |jasmine_file| %>
      <script src="<%= jasmine_file %>" type="text/javascript"></script>
  <% end %>

  <% js_files.reject { |each| each.start_with?("/__spec__/") }.each do |js_file| %>
      <script src="<%= js_file %>" type="text/javascript"></script>
  <% end %>

</head>
<body>
<script type="text/javascript">
    var jsApiReporter = new jasmine.JsApiReporter();

    var specsList = <%= spec_files.map { |each| "/__spec__/" + each } %>;
    require(specsList, function() {
        var jasmineEnv = jasmine.getEnv();

        jasmineEnv.addReporter(new jasmine.HtmlReporter());
        jasmineEnv.addReporter(jsApiReporter);
        jasmineEnv.execute();
    }, function (e) {
        console.error(e, e.requireModules);
    });
</script>

</body>

</html>