<!DOCTYPE html>
<html>
<head>
  <title>Limelight</title>

  <% css_files.each do |css_file| %>
      <link rel="stylesheet" href="<%= css_file %>" type="text/css" media="screen"/>
  <% end %>

  <% js_files.reject { |each| each.start_with?("/__spec__/") }.each do |js_file| %>
      <script src="<%= js_file %>" type="text/javascript"></script>
  <% end %>

  <script type="text/javascript" data-cover-never="__spec__" src="/__spec__/helpers/blanket.min.js" data-cover-adapter="/__spec__/helpers/jasmine-blanket.js"></script>

</head>
<body>
<script type="text/javascript">
    var jsApiReporter = new jasmine.JsApiReporter();

    var specsList = <%= js_files.reject { |file| file.include?("blanket") }.select { |each| each.start_with?("/__spec__/") } %>;
    require(specsList, function() {
        jasmine.getEnv().addReporter(jsApiReporter);
    }, function (e) {
        console.error(e, e.requireModules);
    });
</script>

</body>

</html>