<% content_for :title do %>GOV.UK Performance Platform<% end %>

<% @js_config = {
  "controller" => "home/controllers/overview"
} %>

<!-- <header>
  <h1>
    <span class="strapline">Service performance</span>
    Performance
  </h1>
</header> -->

<section>
 <!--  # <%= image_path("homepage.png") %> -->
  <img src="/limelight/homepage.png">
</section>
