<% content_for :title do %>Electronic Vehicle Licensing - Service performance - GOV.UK<% end %>

<% @js_config = {
        "controller"   => "electronic-vehicle-licensing/controllers/overview"
} %>

<header>
  <h1>
    <span class="strapline">Service performance</span>
    Electronic Vehicle Licensing
  </h1>
  <p class="explanatory">Service to buy or renew your tax disc (vehicle licence) online, for your car, motorbike, lorry, bus or other vehicle that needs a tax disc.</p>
</header>

<%= render(partial: "common/modules/availability", locals: {title: "Tax disc service availability"}) %>

<%= render(partial: "common/modules/availability", locals: {title: "SORN service availability", id: "sorn-availability"}) %>