<div id="global-breadcrumb">
  <ol class="group" role="breadcrumbs">
    <li><a href="/performance">Performance</a></li>
    <% if params[:action] != 'index' %>
        <li><%= link_to "Licensing overview", licensing_path %></li>
    <% end %>
    <% if params[:action] == 'per_licence' %>
        <li><%= link_to "All licenses", all_licenses_path %></li>
    <% end %>
    <% if params[:action] == 'per_authority' %>
        <li><%= link_to "All authorities", all_authorities_path %></li>
    <% end %>
  </ol>
  <div class="breadcrumb-break"></div>
</div>