<% content_for :title do %>Authorities - Performance Platform - GOV.UK<% end %>
<% @js_config = { "controller" => "licensing/controllers/authorities" } %>

<header>
  <h1>Authorities <span class="tagline">(authorities on GOV.UK only)</span></h1>
</header>

<h2>Licensing authorities on GOV.UK</h2>

<div id="filter-wrapper"></div>

<section id="authorities-list" class="entity-type">
  <header>
    <h2>National and local authorities</h2>
    <p class="count"><%= @num_authorities %></p>
  </header>

  <dl>
    <% @authorities.each do |letter, group| %>
    <dt><%= letter.upcase %></dt>
    <dd>
      <ol>
        <% group.each do |authority| %>
        <li><%= link_to authority.name, authority_path(authority.slug) %></li>
        <% end %>
      </ol>
    </dd>
    <% end %>
  </dl>
</section>
