<% content_for :title do %>
    Authorities - Performance Platform - GOV.UK
<% end %>

<header>
  <p class="category-title"><%= link_to "Licensing performance", :action => "index" %></p>
  <h1>Licensing authorities <span class="tagline">(GOV.UK applications)</span></h1>
</header>

<h2>Licensing authorities on GOV.UK</h2>

<ul id="authorities">
  <% @authorities.each do |authority| %>
      <li><%= link_to authority.name, authority_path(authority.slug) %></li>
  <% end %>
</ul>
