<% content_for :title do %>Licensing - Performance Platform - GOV.UK<% end %>

<% content_for :js_config do %>data-controller="licensing/controllers/overview"<% end %>

<header>
  <h1>Licensing</h1>
</header>

<section class="graph">
  <h2>Licence applications on GOV.UK</h2>
  <h3>Total licence applications made on GOV.UK per week</h3>
  <figure class="applications-graph" id="total-applications"></figure>
</section>

<section>
  <h2>Most applied-for licences in <%= @last_month %></h2>
  <h3>Top 5 licences applied for on GOV.UK</h3>
  <article class="top5-table-wrapper" id="top5-licences-table"></article>
</section>

<section>
  <h2>Authorities with most applications in <%= @last_month %></h2>
  <h3>Authorities with the most licence applications on GOV.UK</h3>
  <article class="top5-table-wrapper" id="top5-authorities-table"></article>
</section>

