<% content_for :title do %>Licensing - Service performance - GOV.UK<% end %>

<% @js_config = { "controller" => "licensing/controllers/overview" } %>

<header>
  <h1>
      <span class="strapline">Service performance</span>
      Licensing
      <span class="tagline">(licences and authorities on GOV.UK only)</span>
  </h1>
</header>

<% if Rails.application.config.feature_toggles[:show_licensing_visitors_realtime] %>
  <section>
    <h1>Real-time usage</h1>
    <ul class="module-actions">
      <li class="info">
        <div>
          <p>Data source: Google Analytics</p>
          <p>Shows the estimated number of users currently accessing licensing pages on GOV.UK.</p>
        </div>
      </li>
    </ul>
    <h2>Live number of users on any page within the service</h2>
    <div id="number-of-visitors-realtime"></div>
  </section>
<% end %>

<section class="graph">
  <h1>Forms received</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: GOV.UK licensing database</p>
        <p>Shows the total number licensing forms received by GOV.UK.</p>        
        <p>This does not measure whether a submission was subsequently paid for, valid or accepted by the authority.</p>        
      </div>
    </li>
  </ul>
  <nav id="applications-nav"></nav>
  <h2>Total forms received per week over the last 9 weeks</h2>
  <figure class="graph timeseries-graph" id="total-applications"></figure>
</section>

<% if Rails.application.config.feature_toggles[:show_licensing_overview_success_rate] %>
  <section class="half-width row-start">
    <h1>Completion rate</h1>
    <ul class="module-actions">
      <li class="info">
        <div>
          <p>Data source: Google Analytics</p>
          <p><a href="/service-manual/measurement/completion-rate.html" rel="external" target="_blank">Completion rate</a> measures the proportion of people who started a form submission and were able to complete it.</p>
          <p>This measures submissions only, not whether a submission was valid or accepted by the authority.</p>
          <p>It is calculated by dividing the number of unique visitors to the final page of a form submission by the number of unique visitors to the first page.</p>
        </div>
      </li>
    </ul>
    <h2>Percentage of users who successfully submitted a form</h2>
    <p id="applications-success-rate" class="impact-number"></p>
    <p class="stat-description">average last week</p>
  </section>
<% end %>

<section class="graph<% if Rails.application.config.feature_toggles[:show_licensing_overview_success_rate] %> half-width<% end %>">
  <h1>Users at each stage</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Google Analytics (unique visitor numbers based on sampled data)</p>
        <p>Shows only those stages that are common across all licensing submissions (some licences have additional fee payment stages which are not included).</p>
        <p>The total number of unique users who arrived at each stage.</p>
      </div>
    </li>
  </ul>
  <h2>Number of users who completed important stages of the transaction last week</h2>
  <figure class="graph conversion-graph" id="applications-conversion-graph"></figure>
</section>

<%= render(partial: "common/modules/availability") %>

<section>
  <h1>Top licences last week</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: GOV.UK licensing database</p>
        <p>Top licences sorts submissions per licence in the past week by submission volume. Those with the highest submission volume are included in the table.</p>
      </div>
    </li>
  </ul>
  <h2>Top licences by submission volume last week</h2>
  <article class="top5-table-wrapper" id="top5-licences-table"></article>
  <p><%= link_to "See all licences", :action => "licences" %></p>
</section>

<section>
  <h1>Top authorities last week</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: GOV.UK licensing database</p>
        <p>Top authorities sorts submissions per authority in the past week by submission volume. Those with the highest submission volume are included in the table.</p>
      </div>
    </li>
  </ul>
  <h2>Top authorities by submission volume last week</h2>
  <article class="top5-table-wrapper" id="top5-authorities-table"></article>
  <p><%= link_to "See all authorities", :action => "authorities" %></p>
</section>
