<% content_for :title do %>Licensing - Performance Platform - GOV.UK<% end %>

<header>
  <h1>Licensing</h1>
</header>

<section>
  <h2>Licence applications on GOV.UK</h2>
  <figure id="total-applications"></figure>
</section>
