<% content_for :title do %>Licensing - Performance Platform - GOV.UK<% end %>

<% content_for :js_config do %>data-controller="licensing/controllers/overview"<% end %>

<header>
  <p class="category-title">Transactions</p>
  <h1>Licensing <span class="tagline">(GOV.UK applications)</span></h1>
</header>

<section class="graph">
  <h2>Weekly licence applications</h2>
  <h3>Total licence applications per week over the last 12 weeks</h3>
  <figure class="applications-graph" id="total-applications"></figure>
</section>

<section>
  <h2>Top licences last month</h2>
  <h3>Top 5 most applied for licences on GOV.UK last month</h3>
  <article class="top5-table-wrapper" id="top5-licences-table"></article>
  <p><%= link_to "See all licences", :action => "licences" %></p>
</section>

<section>
  <h2>Top authorities last month</h2>
  <h3>Top authorities by licence application volume on GOV.UK last month</h3>
  <article class="top5-table-wrapper" id="top5-authorities-table"></article>
  <p><%= link_to "See all authorities", :action => "authorities" %></p>
</section>

