<% content_for :title do %>Licensing - Performance Platform - GOV.UK<% end %>

<% content_for :js_config do %>data-controller="licensing/controllers/overview"<% end %>

<header>
  <p class="category-title"><%= link_to "Performance Platform", "/performance" %></p>
  <h1>Licensing performance<span class="tagline">(GOV.UK applications)</span></h1>
</header>

<section class="graph">
  <h1>Weekly licence applications</h1>
  <h2>Total licence applications per week over the last 9 weeks</h2>
  <figure class="applications-graph" id="total-applications"></figure>
</section>

<section>
  <h1>Top licences last week</h1>
  <h2>Top 5 most applied for licences on GOV.UK last week</h2>
  <article class="top5-table-wrapper" id="top5-licences-table"></article>
  <p><%= link_to "See all licences", :action => "licences" %></p>
</section>

<section>
  <h1>Top authorities last week</h1>
  <h2>Top authorities by licence application volume on GOV.UK last week</h2>
  <article class="top5-table-wrapper" id="top5-authorities-table"></article>
  <p><%= link_to "See all authorities", :action => "authorities" %></p>
</section>

