<% content_for :title do %>Licences - Licensing performance - GOV.UK<% end %>
<% @js_config = { "controller" => "licensing/controllers/licences" } %>

<header>
  <h1>
      <span class="strapline">Licensing performance</span>
      Licences
      <span class="tagline">(licences on GOV.UK only)</span>
  </h1>
</header>

<div id="filter-wrapper" class="licences"></div>

<section id="licences-list" class="entity-type">
  <header>
    <h2>Applications, Licences, Notices and Registrations</h2>
    <p class="count"><%= @num_licences %></p>
  </header>

  <dl>
    <% @licences.each do |letter, group| %>
    <dt><%= letter.upcase %></dt>
    <dd>
      <ol>
        <% group.each do |licence| %>
        <li><%= link_to licence.name, licence_path(licence.slug) %></li>
        <% end %>
      </ol>
    </dd>
    <% end %>
  </dl>
</section>
