<% content_for :title do %>Licences - Performance Platform - GOV.UK<% end %>

<header>
  <p class="category-title"><%= link_to "Licensing performance", :action => "index" %></p>
  <h1>Licences <span class="tagline">(licences on GOV.UK only)</span></h1>
</header>

<h2>Licences offered through GOV.UK</h2>

<ul id="licences">
  <% @licences.each do |licence| %>

    <li><%= link_to licence.name, licence_path(licence.slug) %></li>
  <% end %>
  
</ul>
