<% content_for :title do %><%= @licence.name %> - Performance Platform - GOV.UK<% end %>
<% @js_config = { "controller" => "licensing/controllers/per_licence", "licence-url-slug" => @licence.slug } %>

<header>
  <p class="category-title"><%= link_to "Licences", :action => "licences" %></p>
  <h1><%= @licence.name %> <span class="tagline">(submissions made through GOV.UK only)</span></h1>
</header>

<section class="graph">
  <h1>Form submissions</h1>
  <nav id="applications-nav"></nav>
  <h2>Total form submissions per week over the last 9 weeks and top authorities by submission volume in this time</h2>
  
  <figure class="graph applications-graph" id="applications-by-authority"></figure>
</section>

<section>
  <h1>Submissions per authority</h1>
  <h2>Authorities offering <strong><%= @licence.name %></strong> on GOV.UK</h2>
  
  <article class="table-wrapper" id="applications-table"></article>
</section>

