<% content_for :title do %><%= @authority.name %> - Licensing performance - GOV.UK <% end %>
<% @js_config = { "controller" => "licensing/controllers/per_authority", "authority-url-slug" => @authority.slug } %>

<header>
  <h1>
      <span class="strapline">Licensing performance</span>
      <%= @authority.name %>
  </h1>
</header>

<section class="graph graph-with-labels">
  <h1>Forms received</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: GOV.UK licensing database</p>
        <p>Top licences are those with the highest number of forms received by the authority in the period being shown.</p>
        <p>This does not measure whether a submission was subsequently paid for, valid or accepted by the authority.</p>
      </div>
    </li>
  </ul>
  <nav id="applications-nav"></nav>
  <h2>Total forms received per week over the last 9 weeks and top licences by volume in this time</h2>

  <figure class="graph timeseries-graph" id="applications-by-licence"></figure>
</section>

<section>
  <h1>Licence submissions received</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: GOV.UK licensing database</p>
        <p>Table includes all licences offered by the authority that have had at least 1 submission received since being offered on GOV.UK</p>
      </div>
    </li>
  </ul>
  <h2>Licences offered by <strong><%= @authority.name %></strong> on GOV.UK</h2>
  
  <article class="table-wrapper" id="applications-table"></article>
</section>

