<% id ||= "availability" %>
<% title ||= "Service availability" %>
<section id="<%= id %>" class="graph availability">
  <h1><%= title %></h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Pingdom</p>
        <p>Response time is the average time in milliseconds taken for the server to respond to a request.</p>
        <p>Uptime measures the percentage of time that the service was observed to be available.</p>
        
      </div>
    </li>
  </ul>
  <h3>Response time</h3>
  <p class="impact-number response-time"></p>
  <figure class="graph timeseries-graph response-time-graph"></figure>
  <h3>Uptime</h3>
  <p class="impact-number uptime"></p>
  <figure class="graph timeseries-graph uptime-graph"></figure>
</section>
