<section class="graph availability">
  <h1>Service availability</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Pingdom</p>
        <p>Response time is the average time in milliseconds taken for the server to respond to a request.</p>
        <p>Uptime measures the percentage of time that the service was observed to be available.</p>
        
      </div>
    </li>
  </ul>
  <h3>Response time</h3>
  <p id="response-time" class="impact-number"></p>
  <figure class="graph timeseries-graph" id="response-time-graph"></figure>
  <h3>Uptime</h3>
  <p id="uptime" class="impact-number"></p>
  <figure class="graph timeseries-graph" id="uptime-graph"></figure>
</section>
