<section class="half-width row-start" id="uptime-module">
    <h1>Uptime</h1>
    <ul class="module-actions">
        <li class="info">
            <div>
                <p>Data source: Pingdom</p>
                <p>Uptime measures the percentage of time that the service was observed to be available.</p>
            </div>
        </li>
    </ul>
    <h2>Service uptime</h2>
    <p id="uptime" class="impact-number"></p>
    <p class="stat-description">mean for the last 24 hours</p>
</section>

<section class="half-width" id="response-time-module">
    <h1>Response time</h1>
    <ul class="module-actions">
        <li class="info">
            <div>
                <p>Data source: Pingdom</p>
                <p>Average time taken for the server to respond to a request.</p>
            </div>
        </li>
    </ul>
    <h2>Service response time in milliseconds</h2>
    <p id="response-time" class="impact-number"></p>
    <p class="stat-description">mean for the last 24 hours</p>
</section>
