<% content_for :title do %><%= @transaction_title %> - FCO - Performance Platform - GOV.UK<% end %>

<% @js_config = {
	"controller"   => "fco/controllers/overview",
	"service-name" => @transaction_slug,
} %>

<header>
  <h1><%= @transaction_title %></h1>
</header>

<% if Rails.application.config.feature_toggles[:show_fco_visitors_realtime] %>
  <section>
    <h1>Live digital service usage</h1>
    <ul class="module-actions">
      <li class="info">
        <div>
          <p>Shows estimated number of users currently accessing the transaction online.</p>
        </div>
      </li>
    </ul>
    <h2>Users currently browsing the service</h2>
    <p id="number-of-visitors-realtime" class="impact-number"></p>
  </section>
<% end %>

<section class="graph volumetrics">
  <h1>Applications and digital completion rate</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data sources: Google Analytics (unique visitors numbers based on sampled data)</p>
        <p>TBD</p>
      </div>
    </li>
  </ul>
  <h3>Applications</h3>
  <p id="volumetrics-submissions-selected" class="impact-number"></p>
  <figure class="graph timeseries-graph" id="volumetrics-submissions"></figure>
  <h3>Completion rate</h3>
  <p id="volumetrics-completion-selected" class="impact-number"></p>
  <figure class="graph timeseries-graph" id="volumetrics-completion"></figure>
</section>

<section>
  <h1>Submission drop-offs</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data sources: Google Analytics (unique visitors numbers based on sampled data)</p>
        <p>Calculated as percentage of unique visitors who arrived at each stage out of those who started the transaction.</p>
      </div>
    </li>
  </ul>
  <h2>Percentages of unique visitors at each stage of the digital transaction <span class="group0">two weeks ago</span> compared with <span class="group1">last week</span></h2>
  <figure class="graph conversion-graph" id="applications-conversion-graph"></figure>
</section>

<% if Rails.application.config.feature_toggles[:show_fco_availability] %>
<section class="half-width row-start" id="uptime-module">
  <h1>Uptime</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data sources: Pingdom</p>
        <p>Uptime measures the percentage of time that the service was observed to be available.</p>
      </div>
    </li>
  </ul>
  <h2>Service uptime</h2>
  <p id="uptime" class="impact-number"></p>
  <p>Mean uptime for the last 24 hours</p>
</section>

<section class="half-width" id="response-time-module">
  <h1>Response time</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data sources: Pingdom</p>
        <p>Average time taken for the server to respond to a request.</p>
      </div>
    </li>
  </ul>
  <h2>Service response time in milliseconds</h2>
  <p id="response-time" class="impact-number"></p>
  <p>Mean response time for the last 24 hours</p>
</section>
<% end %>
