<% content_for :title do %>Lasting Power of Attorney - Service performance - GOV.UK<% end %>

<% @js_config = { 
  "controller" => "lpa/controllers/overview", 
	"service-name" => service_name,
} %>

<header>
  <h1>
      <span class="strapline">Service performance</span>
      Lasting Power of Attorney
  </h1>
  <p class="explanatory">A lasting power of attorney is a legal document that lets you appoint someone (known as an ‘attorney’) to make decisions on your behalf. The service is offered in both digital and non-digital formats.</p>
</header>

<% if Rails.application.config.feature_toggles[:lpa_dashboard_application_method] %>
<section class="graph graph-with-labels application-method-over-time">
  <h1>Applications</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Office of the Public Guardian (test data)</p>
        <p>Non digital applications include all applications made using the traditional paper based forms.</p>
        <p>Digital applications include applications created using the Lasting Power of Attorney digital service.</p>
        <p>Applications are counted at point of receipt.</p>
      </div>
    </li>
  </ul>
  <h2><span class="group0">Non-digital</span> and <span class="group1">digital</span> applications over time</h2>
  <figure class="graph" id="application-method-over-time"></figure>
</section>
<% end %>

<% if Rails.application.config.feature_toggles[:lpa_dashboard_completion_rate] %>
<section class="graph completion-rate">
  <h1>Completion rate</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Google Analytics (unique visitor numbers based on sampled data)</p>
        <p><a href="/service-manual/measurement/completion-rate.html" rel="external" target="_blank">Completion rate</a> measures the proportion of people who started an application and were able to complete it.</p>
        <p>It is calculated as percentage of unique visitors who arrived at the final page of the service out of those who arrived at the start page.</p>
        <p>Completed applications count based on unique visitors to the final page of the service.</p>
      </div>
    </li>
  </ul>
  <p id="lpa-completion-selected" class="impact-number"></p>
  <figure class="graph timeseries-graph" id="lpa-completion"></figure>
  
</section>
<% end %>

<% if Rails.application.config.feature_toggles[:lpa_conversion_funnel] %>
<section class="graph">
  <h1>Users at registration stages</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Google Analytics (unique visitors numbers based on sampled data)</p>
        <p>Compares the visitors to different key stages of the transaction relative to the number that started.</p>
        <p>Stages are in the order a user would see them as they progress through the transaction. Some stages may be repeated or returned to, as indicated by higher visitor numbers.</p>
      </div>
    </li>
  </ul>
  <h2>
    Number of users who visited important stages of the registration process last week
  </h2>
  <figure class="graph conversion-graph" id="lpa-conversion-graph"></figure>
</section>
<% end %>

<section class="help-usage">
  <h1>Help usage</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Google Analytics (unique visitors numbers based on sampled data)</p>
        <p>TBD.</p>
      </div>
    </li>
  </ul>

  <article class="help-usage-table"></article>
</section>


<%= render(partial: "common/modules/availability") if Rails.application.config.feature_toggles[:show_lpa_availability] %>
