<% id ||= "failures" %>
<% title ||= "Application failures (web)" %>
<section id="<%= id %>" class="failures">
  <h1><%= title %></h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> database</p>
        <p>Application failures are the recorded reasons that a user was not able to continue with a transaction.</p>
        <p>The user will not have been able to progess past this point. Therefore only the first failure reason that the user encounters can be tracked.</p>
      </div>
    </li>
  </ul>

  <article class="failures-table"></article>
</section>
