<% id ||= "failures" %>
<% title ||= "Error codes (web)" %>
<section id="<%= id %>" class="failures">
  <h1><%= title %></h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> database</p>
        <p>Shows errors that have been logged in the web transaction. More than one error may be logged per user.</p>
      </div>
    </li>
  </ul>

  <article class="failures-table"></article>
</section>
