<% id ||= "failures" %>
<% title ||= "Application failures" %>
<section id="<%= id %>" class="failures">
  <h1><%= title %></h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: DVLA database</p>
        <p>The number of users failing the <%=transaction_shortname%> transaction are recorded in the DVLA database. These are classified by failure description. A user can only fail once per transaction.</p>
      </div>
    </li>
  </ul>

  <article class="failures-table"></article>
</section>
