<% id ||= "failures" %>
<% title ||= "Application failures" %>
<section id="<%= id %>" class="failures">
  <h1><%= title %></h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: TBD</p>
      </div>
    </li>
  </ul>

  <article class="failures-table"></article>
</section>
