<% id ||= "failures" %>
<% title ||= "Application failures (web)" %>
<section id="<%= id %>" class="failures">
  <h1><%= title %></h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> database</p>
        <p>Application failures track transactions that were not completed and the reason if known.</p>
        <p>The user will not have been able to progess past this point. Therefore only the first failure reason that the user encounters can be tracked.</p>
      </div>
    </li>
  </ul>

  <article class="failures-table"></article>
</section>
