<% id ||= "failures" %>
<% title ||= "Recorded errors" %>
<section id="<%= id %>" class="failures">
  <h1><%= title %></h1>
  <h2>Errors generated during the online application process last week</h2>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> database</p>
        <p>More than one error may be logged per user.</p>
      </div>
    </li>
  </ul>

  <article class="failures-table"></article>
</section>
