<nav class="performance-nav">
  <ul>
    <li>
      <%= link_to({action: 'vehicle-licensing'}, class: 'active') do %>
        Vehicle licensing
      <% end %>
    </li>
    <li>
      <%= link_to({action: 'tax-disc'}) do %>
        Tax disc
      <% end %>
    </li>
    <li>
      <%= link_to({action: 'sorn'}) do %>
        SORN 
      <% end %>
    </li>
  </ul>
</nav>
