<%= render :partial => "vehicle-licensing/vehicle_licensing_navigation" %>

<% content_for :title do %>Vehicle licensing - Service performance - GOV.UK<% end %>

<% @js_config = {
        "controller"   => "vehicle-licensing/controllers/overview"
} %>

<header>
  <h1>
    <span class="strapline">Service group performance</span>
      Vehicle licensing
  </h1>
  <p class="explanatory">A group of services provided by the <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> relating to vehicle licensing: Tax disc relicensing, and SORN (Statutory Off Road Notification). Does not include first registrations.</p>
</header>

<section class="graph">
  <h1>Applications by service</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> database</p>
        <p>Shows the weekly number of successful applications to renew a tax disc and the number of <abbr title="Statutory Off Road Notification">SORN</abbr>'s received.</p>
      </div>
    </li>
  </ul>
  <h2>Vehicle licensing applications per month broken down by service</h2>
  <figure class="graph timeseries-graph" id="vehicle-licensing-services"></figure>
</section>

<%= render(partial: "vehicle-licensing/volumetrics", locals: {
  title: "Application channels", 
  description: "Vehicle licensing applications per month broken down by channel", 
  id: "vehicle-licensing-channels",
  info_text: 'The number of successful applications for a tax disc and <abbr title="Statutory Off Road Notification">SORN</abbr>, broken by channel.'
}) %>
