<% content_for :title do %>Vehicle licensing- Service performance - GOV.UK<% end %>

<% @js_config = {
        "controller"   => "vehicle-licensing/controllers/overview"
} %>

<header>
  <h1>
    <span class="strapline">Service group performance</span>
      Vehicle licensing
  </h1>
  <p class="explanatory">Service group relating to Vehicle Licensing: Tax disc relicensing, and SORN (Statutory Off Road Notification).</p>
</header>

<section class="graph">
  <h1>Applications by service</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: TBD</p>
      </div>
    </li>
  </ul>
  <h2>Applications per week broken down by service over the last 9 weeks</h2>
  <figure class="graph timeseries-graph" id="vehicle-licensing-services"></figure>
</section>

<section class="graph">
  <h1>Application channels</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: TBD</p>
      </div>
    </li>
  </ul>
  <h2>Applications per week broken down by channel over the last 9 weeks</h2>
  <figure class="graph timeseries-graph" id="vehicle-licensing-channels"></figure>
</section>
