<% content_for :title do %>Vehicle licensing - Service dashboard - GOV.UK<% end %>

<% @js_config = {
        "controller"   => "vehicle-licensing/controllers/overview"
} %>

<header>
  <h1>
    <span class="strapline">Service dashboard</span>
      Vehicle licensing
  </h1>
  <p class="explanatory">Vehicle licensing covers <%= link_to('tax-disc') do %>tax disc<% end %> relicensing and <%= link_to('sorn') do %><abbr title="Statutory Off Road Notification">SORN</abbr> (Statutory Off Road Notification)<% end %>, two services provided by <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr>. Does not include first registrations.</p>
</header>

<section class="graph graph-with-labels">
  <h1>Tax disc and SORN &ndash; breakdown</h1>
  <aside class='more-info'>
    <span class='more-info-link'>more info</span>
    <ul>
      <li>Data source: <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> database</li>
      <li>Shows the monthly number of successful applications to renew a tax disc and the number of <abbr title="Statutory Off Road Notification">SORN</abbr>'s received.</li>
    </ul>
  </aside>
  <h2>Vehicle licensing applications per month broken down by service</h2>
  <figure class="graph timeseries-graph" id="vehicle-licensing-services"></figure>
</section>

<%= render(partial: "vehicle-licensing/volumetrics", locals: {
  title: "Digital, Post Office and DVLA centre – breakdown",
  description: "Vehicle licensing per month broken down by Digital, Post Office and DVLA centre applications",
  id: "vehicle-licensing-channels",
  info_text: 'The number of successful tax disc renewals and <abbr title="Statutory Off Road Notification">SORN</abbr>&rsquo;s received, broken down by Digital, Post Office and DVLA centre applications.'
}) %>
