<!DOCTYPE html>
<html>
<head>
    <title>Limelight</title>
    <%= stylesheet_link_tag "jasmine", :media => "all" %>
</head>
<body>

<%= javascript_include_tag 'vendor/test/jasmine', 'vendor/test/jasmine-html' %>
<%= javascript_include_tag 'vendor/require', data: { main: '/assets/config' } %>

<script type="text/javascript">

    var specsList = [
        '/assets/spec/extensions/spec.model',
        '/assets/spec/extensions/spec.collection',
        '/assets/spec/extensions/spec.view',
        '/assets/spec/extensions/spec.d3view'
    ];
    require(specsList, function() {
        jasmine.getEnv().addReporter(new jasmine.HtmlReporter());
        jasmine.getEnv().execute();
    }, function (e) {
        console.error(e, e.requireModules);
    });
</script>

</body>
</html>
