.applications-graph {
    border: 1px solid #999;
}

.applications-graph .line {
  fill: none;
  stroke: #0F8094;
  stroke-width: 4px;
}

.applications-graph .line0 { stroke: #0F8094; }
.applications-graph .line1 { stroke: #4F8240; }
.applications-graph .line2 { stroke: #00A89E; }
.applications-graph .line3 { stroke: #F7941F; }
.applications-graph .line4 { stroke: #D6007D; }
.applications-graph .line5 { stroke: #662E91; }


.applications-graph .x-axis path,
.applications-graph .y-axis path {
  display: none;
}

.applications-graph .x-axis line {
  fill: none;
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
