@import 'colours';

.applications-graph {
  

  .line {
    fill: none;
    stroke: #0F8094;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .line0 { stroke: $data-colour-1; }
  .line1 { stroke: $data-colour-2; }
  .line2 { stroke: $data-colour-3; }
  .line3 { stroke: $data-colour-4; }
  .line4 { stroke: $data-colour-5; }
  .line5 { stroke: $data-colour-6; }
  
  .x-axis path,
  .y-axis path {
    display: none;
  }

  .x-axis line {
    fill: none;
    stroke: #444;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  .labels {
    
    line {
      fill: none;
      stroke: #444;
      stroke-width: 1px;
      vector-effect: non-scaling-stroke;

      &.crisp {
        shape-rendering: crispEdges;
      }
    }
    
    text.total {
      font-size:1em;
    }
    
    text.text2 {
      fill: #777;
      font-size:.8em;
    }
    
  }

  .tick line {
    vector-effect: non-scaling-stroke;
  }
}

@media (max-width: 640px) {
  .applications-graph {
    .y-axis .tick text {
      font-size:1.5em;
    }
    .y-axis .tick:nth-child(even) text {
      font-size:2em;
        display:none;
    }
    
    .x-axis .tick text {
      font-size:1.5em;
    }
    .x-axis .tick:nth-child(even) text {
      font-size:2em;
        display:none;
    }
  }
}


