@import 'colours';

.applications-graph {
  
  .line {
    fill: none;
    stroke: #0F8094;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
  }
  
  .line0 { stroke: $data-colour-1; }
  .line1 { stroke: $data-colour-2; }
  .line2 { stroke: $data-colour-3; }
  .line3 { stroke: $data-colour-4; }
  .line4 { stroke: $data-colour-5; }
  .line5 { stroke: $data-colour-6; }
  
  .stack0 { fill: transparentize($data-colour-1, .8); }
  .stack1 { fill: transparentize($data-colour-2, .8); }
  .stack2 { fill: transparentize($data-colour-3, .8); }
  .stack3 { fill: transparentize($data-colour-4, .8); }
  .stack4 { fill: transparentize($data-colour-5, .8); }
  .stack5 { fill: transparentize($data-colour-6, .8); }
  
  
  .x-axis path,
  .y-axis path {
    display: none;
  }

  .x-axis line {
    fill: none;
    stroke: #444;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  .labels {

    line {
      fill: none;
      stroke: #444;
      stroke-width: 1px;
      vector-effect: non-scaling-stroke;

      &.crisp {
        shape-rendering: crispEdges;
      }
    }
    
    .square0 { fill: $data-colour-1; }
    .square1 { fill: $data-colour-2; }
    .square2 { fill: $data-colour-3; }
    .square3 { fill: $data-colour-4; }
    .square4 { fill: $data-colour-5; }
    .square5 { fill: $data-colour-6; }
    
  }

  .tick line {
    vector-effect: non-scaling-stroke;
  }
}

@media (max-width: 640px) {
  .applications-graph {

    .y-axis .tick:nth-child(even) text {
      display:none;
    }
    
    .x-axis .tick text {
      font-size:1.3em;
    }
    .x-axis .tick:nth-child(even) text {

      display:none;
    }

    text {
      font-size:1.3em;
    }

  }
}


