.applications-graph {
    border: 1px solid #999;
}

.applications-graph .line {
  fill: none;
  stroke: #108095;
  stroke-width: 3px;
}

.applications-graph .x-axis path,
.applications-graph .y-axis path {
  display: none;
}

.applications-graph .x-axis line {
  fill: none;
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
