@import 'typography';

.graph {
  position:relative;

  text {
    @include core-16;
  }

  .inner {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  
  .line0 { stroke: $data-colour-1; }
  .line1 { stroke: $data-colour-2; }
  .line2 { stroke: $data-colour-3; }
  .line3 { stroke: $data-colour-4; }
  .line4 { stroke: $data-colour-5; }
  .line5 { stroke: $data-colour-6; }
  
  .stack0 { fill: mix($data-colour-1, $white, 25%); }
  .stack1 { fill: mix($data-colour-2, $white, 25%); }
  .stack2 { fill: mix($data-colour-3, $white, 25%); }
  .stack3 { fill: mix($data-colour-4, $white, 25%); }
  .stack4 { fill: mix($data-colour-5, $white, 25%); }
  .stack5 { fill: mix($data-colour-6, $white, 25%); }
  
  .text0 { fill: $data-colour-1; }
  .text1 { fill: $data-colour-2; }
  .text2 { fill: $data-colour-3; }
  .text3 { fill: $data-colour-4; }
  .text4 { fill: $data-colour-5; }
  .text5 { fill: $data-colour-6; }

  span.group0 { color: $data-colour-1; }
  span.group1 { color: $data-colour-2; }
  span.group2 { color: $data-colour-3; }
  span.group3 { color: $data-colour-4; }
  span.group4 { color: $data-colour-5; }
  span.group5 { color: $data-colour-6; }

  .x-axis path,
  .y-axis path {
    display: none;
  }
  
  .selectedIndicator {
    fill: white;
    vector-effect: non-scaling-stroke;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .selectedIndicator.cursorLine {
    stroke: black;
    stroke-linecap: square;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  
  .line {
    fill: none;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
    
    &.selected {
      stroke-width: 4px;
    }
  }
  
  .bar {
    line {
      stroke-width: 2px;
      shape-rendering: crispEdges;
      vector-effect: non-scaling-stroke;
    }
    
    rect {
      shape-rendering: crispEdges;
    }
    
    text {
      text-anchor: middle;
    }
  }
  
  .tick line {
    vector-effect: non-scaling-stroke;
  }

  .x-axis line {
    fill: none;
    stroke: #444;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  
  .hover {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    opacity:0;
    background:white;
  }
  
  .callout {
    position: absolute;
    left:0;
    top:0;
    background-color: $grey-4;
    width:200px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.35);
    h3 {
      font-weight:700;
      margin:0;
      font-size:1em;
      padding:.4em .5em 0em;
    }
    p {
      margin:0;
      padding:0 .5em;
      &:first-child {
        padding-top: 0.2em;
      }
      &:last-child {
        padding-bottom: 0.2em;
      }
    }
    dl {
      padding:.2em .5em;
      margin:0;
      dt {
        float:left;
        max-width:130px;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
      }
      dd {
        margin:0;
        float:right;
      }
      &:after {
        clear:both;
        display:block;
        content:'.';
        height:0;
        overflow:hidden;
      }
    }
  }
}

@media (max-width: 640px) {
  
  .graph {

    .y-axis .tick:nth-child(even) text {
      display:none;
    }
    
    .line {
      fill: none;
      stroke-width: 1.5px;
      
      &.selected {
        stroke-width: 3px;
      }
    }
    
    .callout {
      @include core-16;
      margin-top:.5em;
      position:static;
      max-width:240px;
      margin:.5em auto;
    }
  }
}
