@import 'typography';

p.impact-number {
  @include core-19;
  color:$primary-colour;
  & strong {
    @include bold-80;
    font-size:120px;
    font-size:12rem;
    margin-bottom:-.1em;
    display:block
  }
}