@import '_typography';
@import 'colours';

#content .index {
  header {
    border: none;

    p.explanatory {
      width: 100%;
      @include core-24;

      @media (min-width: 640px) {
        width: 65.625%;
      }
    }
  }

  section {
    border-top: none;
    padding-top: 0;
  }

  h2, h3 {
    @include bold-24;
    border-bottom: 5px solid $primary-colour;
  }

  h4 {
    @include bold-19;
  }

  p, dl, ul {
    @include core-19;
  }

  article {
    min-height: 0;
  }

  img {
    display: block;
    max-width: 100%;
    margin-top: 1.579em;
  }

}

.service-listing {
  dl, ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  dt {
    margin: 0;
    padding: 0;

    &.t + dd {
      border-bottom: none;
    }

    &.service_groups {
      font-weight: bold;
      margin-top: 3em;
    }
  }

  dd {
    margin: 0 0 0.75em 0;
    padding: 0;
    border-bottom: 1px solid $grey-3;
  }

  li {
    border-top: 1px solid $grey-3;
    padding:.3em 0;
  }
}

@media (min-width: 640px) {
  .cols2,
  #content section.cols2,
  #content article.cols2 {
    width: 48.4375%;
    float: left;
    clear: none;
    margin-right: 0;
    margin-left: 3.125%;
  }

  .cols2,
  #content section.cols2:first-of-type,
  #content article.cols2:first-of-type {
    margin-left: 0;
  }

  .cols3 {
    width: 31.25%;
    float: left;
    clear: none;
    margin-right: 0;
    margin-left: 3.125%;
  }

  .cols3:first-of-type {
    margin-left: 0;
  }
}
