
@import 'colours';

::-ms-clear {
    display: none;
}

.performance-hidden {
  display:none;
}

.performance-platform-outer {
  border-top: 10px solid $primary-colour;
  padding-top: 2em;
}

#wrapper {
  margin: 0 auto;
  border-bottom-color: $primary-colour;
}

#wrapper * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content {
  background-color: #FFFFFF;
  padding: 0 2em 1em 2em;
  
  header {
    border-bottom: 5px solid $primary-colour;
    padding-bottom: 2em;
    margin-bottom:1.5em;

    h1 {
      width: 75%;
    }

    p.explanatory {
      width: 75%;
    }
  }

  section {
    float:left;
    width:100%;
    clear:left;

    &.half-width {
      width:48.5%;
      margin-left:3%;
      clear:none;
      &.row-start {
        margin-left:0%;
      }

      .lte-ie8 & {
        margin-left: 0%;
        width: 100%;
      }
    }

  }
}

.report-a-problem-toggle {
  margin-left: 0;
  clear: both;
}



@media (max-width: 640px) {
  .performance-platform-outer {
    padding-top: 1em;
  }

  #content {
    padding: 0 1em;
    
    section {
      float:none;
      &.half-width {
        width: 100%;
        & ~ .half-width {
          margin-left:0;
        }
      }
    }
  }
}
