
@import 'colours';

::-ms-clear {
    display: none;
}

.performance-hidden {
  display:none;
}

#wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

#wrapper * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content {
  border-top: 10px solid $primary-colour;
  background-color: #FFFFFF;
  padding: 1em 2em;
  
  header {
    border-bottom: 5px solid $primary-colour;
    padding-bottom: 2em;
    margin-bottom:1.5em;
    
    h1 {
      width: 75%  ;
    }
  }

  section {
    float:left;
    width:100%;
    clear:left;

    &.half-width {
      width:48.5%;
      margin-left:0%;
      clear:none;
      & ~ .half-width {
        margin-left:3%;
      }

      .lte-ie8 & {
        width: 100%;
      }
    }

  }
}

.report-a-problem-toggle {
  margin-left: 0;
}



@media (max-width: 640px) {
  #content {
    padding: 1em;
    
    section {
      float:none;
      &.half-width {
        width: 100%;
        & ~ .half-width {
          margin-left:0;
        }
      }
    }
  }
}
