
@import 'colours';



#wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

#wrapper * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content {
  border-top: 10px solid $primary-colour;
  background-color: #FFFFFF;
  padding: 1em 2em;
  
  header {
    border-bottom: 5px solid $primary-colour;
    padding-bottom: 2em;
    margin-bottom:1.5em;
    
    h1 {
      width: 75%  ;
    }
  }
}


@media (max-width: 640px) {
  #content {
    padding: 1em;
    
  }
}
