@import 'typography';

.help-usage {

  ul.module-actions {
    margin-top:-36px;
    margin-bottom: 44px;
  }

  .help-usage-table {

    th, td {
      white-space: normal;
    }

    th.count,
    td.count {
      width: 12em;
    }
  }
}
.completion-rate .graph {
  margin-left: 12.5em;
  min-height: 135px;
  max-height: 200px;

  margin-right:-30px;
  .inner {
    left: 65px;
    right:30px;
  }
  .cursorLine {
    display: none;
  }
}
