@import 'typography';
@import '_css3';

ul.module-actions {
    position:relative;
    margin:0;
    top: -0.2em;

    section.half-width & {
        top: -2em;
    }

    li {
        z-index:0;
        float:right;
        width:2em;
        height:2em;
        list-style:none;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center center;
        margin:0;
        padding:0;

        &.info {
            background-color: $primary-colour;
            background-image:url(image_path("icon-info.svg"));
            .lte-ie8 & {
                background-image:url(image_path("icon-info.png"));
            }
        }

        div {
            display:none;
            background:#f00;
            width:25em;
            position:absolute;
            right:0;
            top:2em;
            z-index:3;
            background: $grey-4;
            border: 3px solid $primary-colour;
            padding:0 .7em;
            margin-top:-3px;
            @include box-shadow(0px 1px 3px 0px $grey-3);

            p {
                margin:.7em 0;
            }
        }


        .no-touch &:hover,
        .touch &.active {

            z-index:2;

            div {
                display:block;
            }
        }
    }
}

@media (max-width: 640px) {

    ul.module-actions {

        top:0.2em;

            section.half-width & {
                top: 0.2em;
            }

        li {
            width:1.5em;
            height:1.5em;

            div {
                top:1.5em;
                left:0;
                width:auto;
            }
        }
    }
  
}
