@import 'colours';
@import 'design-patterns/_alpha-beta';

#search,
#global-header .search-toggle {
  display:none;
}

span.beta-tag {
  @include phase-tag(beta);
  margin-left: 2px;
  position: relative;
  top: -2px;
}

#global-header .header-proposition a.menu {
  display: none;
}

nav.performance-nav {
  margin: -1.5em 0em 2em 0em;
  border-bottom: 1px solid $border-colour;
  padding-right:15px;

  ul {
    padding:0 0 0 15px;
    list-style:none;
    margin: 0 0 0.5em 33.33%;

    li {
      display:inline;
    }
  }

  a {
    color:$text-colour;
    text-decoration:none;
    margin-right:1em;

    &.active {
      color:$text-colour;
      text-decoration:underline;
    }
    &:visited {
      color:$text-colour;
    }
    &:hover {
      text-decoration:underline;
      color:$text-colour;
    }
  }
}


@media (max-width: 768px) {
  nav.performance-nav {
    ul {
      margin-left:0;
      padding-left:0;
    }
  }
}

@media (max-width: 640px) {
  nav.performance-nav {
    margin-top:-0.5em;
  }
}

@media (max-width: 379px) {
  #global-header span.alpha-tag {
    display:none;
  }

  nav.performance-nav {
    ul {
      li {
        display:block;
        margin-bottom:0.5em;
      }
    }
  }
}
