@import 'colours';

#search,
#global-header .search-toggle {
  display:none;
}

span.alpha-tag {
  text-transform: uppercase;
  font-weight:normal;
  letter-spacing: 1px;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $pink;
  padding: 2px 5px 0;
  font-size:67%;
  display:inline-block;
  vertical-align:top;
  margin-top:2px;
}

a:hover span.alpha-tag {
    text-decoration: none;
}

#global-header .header-proposition #proposition-links li {
    width:100%;
    a {
        &.active {
            color: lighten($primary-colour, 15%);
            border-bottom:1px solid $primary-colour;
        }
        &:hover {
            border-bottom:1px solid $primary-colour;
        }
        &:hover {
            text-decoration:none;
        }
    }
}

@media (min-width: 769px) {
    #global-header .header-proposition #proposition-links li {
        width:auto;
    }
}

@media (max-width: 379px) {
  #global-header span.alpha-tag {
    display:none;
  }
}


nav {
  
  &.performance-nav {
    max-width: 1020px;
    margin: auto;
    border-bottom: 5px solid black;
    
    #menu-toggle {
        display: none;
        padding-bottom:6px;
        
        &:after {
            display: inline-block;
            font-size: 8px;
            height: 8px;
            padding-left: 5px;
            padding-top:6px;
            vertical-align: top;
            content: " \25BC";
        }
    }
    
    a {
        color: #333;
        padding: 6px 8px 8px;
        text-decoration: none;
        
        &:hover, &:focus {
          text-decoration: underline;
        }
    }
    
    ul {
        padding: 0;
        height: 30px;
        margin-top:.7em;
        margin-bottom:0;
        margin-right:23px;
    }

    li.sub-level {
        padding: 0 0 0 5px;
        display: inline-block;
        float: right;
        
        a.current {
            background-color: black;
            color: white;
        }
    }

    a.top-level {
        display: inline-block;
        padding: 0 33px 0 33px;
        float: left;
        
        &:hover {
            text-decoration: none;
            
            .top-level-link {
                text-decoration: underline;
            }
        }
    }
  }
  
}


@media (max-width: 640px) {

    nav.performance-nav {
        height: auto;
        width: auto;

        
        #menu-toggle {
            display: inline-block;
            float:right;
            padding-right: 23px;
            padding-left: 15px;


            width: auto;
        }
        
        .inner-nav {
          min-height: 40px;
          ul {
              height: auto;
              display:none;
          }
        }
        
        .menu-wrapper:hover {
          #menu-toggle {
            background-color: $panel-colour;
            &:after {
                content: " \25B2";
            }
          }
          
          .inner-nav ul {
            display:block;
          }
        }
        
        a {
            padding: 10px 8px 7px 8px;
            
            &.top-level {
                display: block;
                float: left;
                width: auto;
                margin: 0;
                padding: 10px 8px 6px 15px;
            }
        }
        
        .sub-level a {
            display: block;
            width: auto;
            padding-left: 8px;
            color: black;
        }
        
        ul {
            display: block;
            height: auto;
            margin: 0 0 0 0;
        }

        li.sub-level {
            padding: 0 15px 0 15px;
            margin: 0;
            float: none;
            display: block;
            background-color: $panel-colour;
            clear:both;

            &:last-child {
                padding-bottom:3px;
            }
        }
    }
}


