article {
    th, td {
        font-family: ntatabularnumbers, nta, Arial, sans-serif;
    }
}

article.table-wrapper {
    float:none;
}

.outer-table-wrapper {
    border: solid 1px #a1acb2;
    background-color:#dee0e2;
}

.inner-table-wrapper {
    display: block;
    height:447px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

}


article table {
    width: 100%;
    margin:0;
    
    &.head {
        width: 100%;
        margin:0;
    }

    thead {
        background-color:#dee0e2;
        border-bottom: solid 1px #a1acb2;
    }
    
    tbody {
      td:first-child {
          border-left:0;
      }

      tr:first-child td {
          border-top:0;
      }

      tr:last-child td {
          border-bottom:0;
      }
    }

    tr {
      &.placeholder td {
        text-align:center;
      }
    }

    .title {
        width:646px;
    }

    .entries,
    .engagement {
        width:120px;
        text-align:right;
    }

    th {
        border-top:0;
        border-bottom:0;
        white-space:nowrap;
        word-wrap:break-word;
        
        &:first-child {
            border-left:0;
        }

        &:last-child {
            border-right-color:#dee0e2;
        }

        &.sortable {
            cursor:pointer;
            
            &:hover {
                text-decoration: underline;
            }
        }

        &.ascending:after {
            display: inline-block;
            font-size: 8px;
            height: 8px;
            padding-left: 5px;
            vertical-align: top;
            content: " \25B2";
        }

        &.descending:after {
            display: inline-block;
            font-size: 8px;
            height: 8px;
            padding-left: 5px;
            vertical-align: top;
            content: " \25BC";
        }
    }
}

