@import 'typography';

.timeseries-graph {
  
  max-width: 954px;
  max-height: 400px;

  .inner {
    top: 20px;
    bottom: 45px;
    left: 55px;
    right: 40px;
  }

  .labels {

    line {
      fill: none;
      stroke: #444;
      stroke-width: 1px;
      vector-effect: non-scaling-stroke;

      &.crisp {
        shape-rendering: crispEdges;
      }
    }
    
    .square0 { fill: $data-colour-1; }
    .square1 { fill: $data-colour-2; }
    .square2 { fill: $data-colour-3; }
    .square3 { fill: $data-colour-4; }
    .square4 { fill: $data-colour-5; }
    .square5 { fill: $data-colour-6; }
    
    .selected {
      text {
        font-weight: bold;
      }
      
      line {
        stroke-width: 2px;
      }

      rect {
        stroke-width:2px;
        
        &.square0 { stroke: darken($data-colour-1, 10%); }
        &.square1 { stroke: darken($data-colour-2, 10%); }
        &.square2 { stroke: darken($data-colour-3, 10%); }
        &.square3 { stroke: darken($data-colour-4, 10%); }
        &.square4 { stroke: darken($data-colour-5, 10%); }
        &.square5 { stroke: darken($data-colour-6, 10%); }
      }
    }
  }

  .label-link {
    position: absolute;
    z-index:100;
    cursor:pointer;
    &:focus {
      background-color: transparent;
    }
  }

  .x-axis line {
    fill: none;
    stroke: #444;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

#applications-by-licence .inner,
#applications-by-authority .inner,
#application-method-over-time .inner {
  right: 200px
}

#application-method-over-time {
  .selected {
    &.stack0 { fill: mix($data-colour-1, $white, 40%); }
    &.stack1 { fill: mix($data-colour-2, $white, 40%); }
  }
}

@media (max-width: 780px) {
  #applications-by-licence,
  #applications-by-authority {
    .x-axis .tick:nth-child(even) text {
      display:none;
    }
  }
}

@media (max-width: 640px) {
  
  .timeseries-graph {

    .inner {
      top: 20px;
      bottom: 40px;
      left: 40px;
      right: 25px;
    }

    .x-axis .tick:nth-child(even) text {

      display:none;
    }
  }
}


@media (max-width: 440px) {
  
  #applications-by-licence,
  #applications-by-authority {
    text {
      font-size:9px;
      font-size:0.9rem;
    }
    .inner {
      left: 30px;
      bottom: 30px;
      right: 30%;
    }
  }
}

@media (max-width: 320px) {
  
  .timeseries-graph {
    text {
      font-size:9px;
      font-size:0.9rem;
    }
    .inner {
      bottom: 30px;
    }
  }
}
