#total-applications {
    border: 1px solid #999;
}

#total-applications .line {
  fill: none;
  stroke: #108095;
  stroke-width: 3px;
}

#total-applications .x-axis path,
#total-applications .y-axis path {
  display: none;
}

#total-applications .x-axis line {
  fill: none;
  stroke: #444;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
