@import '_conditionals';
@import '_typography';
@import 'colours';

h2 {
  @include core-19($tabular-numbers: true) ;
}

p {
  @include core-16($tabular-numbers: true) ;
}


#content {
  
  header {
    h1 {
      @include bold-48($tabular-numbers: true) ;

      span.tagline {
        display:block;
        @include core-16($tabular-numbers: true) ;
        color: $grey-1;
      }

      span.strapline {
        display: block;
        @include core-27($tabular-numbers: true) ;
        color: $grey-1;
        margin-bottom: 5px;
      }
    }
    h2 {
      @include core-16($tabular-numbers: true) ;
      margin:0;
      color: $grey-1;
    }

    p.category-title {
      @include core-24($tabular-numbers: true) ;
      color: $grey-1;
      margin-bottom:.5em;

      a {
        color: $grey-1;
        text-decoration:none;

        &:hover {
          text-decoration:underline;
        }
      }
    }

    p.explanatory {
      @include core-16($tabular-numbers: true) ;
      color: $black;
      margin-bottom: -1em;
      padding: 0.6em 0 0 0;
    }
  }

  section {
    margin-top:1em;
    margin-bottom:1.5em;

    h1 {
      @include bold-24($tabular-numbers: true) ;
    }

    h2 {
      margin-top:0;
      @include core-16($tabular-numbers: true) ;
    }
  }
}
