@import 'typography';

.volumetrics, .availability {
  .impact-number {
    padding-top:1em;
    width: 12.5em;
    float:left;
    @include core-16;
    font-family: ntatabularnumbers, nta, Arial, sans-serif;
    color: $black;

    strong {
      @include bold-48;
      font-family: nta, Arial, sans-serif;
      margin-bottom:-.1em;
      display:block

    }
  }

  ul.module-actions {
    margin-top:-36px;
    margin-bottom: 44px;
  }

  h3 {
    clear:both;
    height:0;
    margin:0;
    @include bold-19;
  }

  h1 {
    margin-bottom:.5em;
    margin-right:2em;
  }

  .graph {
    margin-left: 12.5em;
    min-height: 135px;
    max-height: 200px;

    margin-right:-30px;
    .inner {
      left: 65px;
      right:30px;
    }
  }

  @media (max-width: 880px) {
    
    .graph {
      .x-axis .tick:nth-child(even) text {
        display:none;
      }
    }
  }
  
  @media(max-width: 640px) {
    .graph {
      margin-right: 0;
      min-height: 110px;
      .y-axis .tick:nth-child(even) text {
        display:block;
      }
    }
  }

  @media(max-width: 500px) {
    height:400px;

    h3 {
      clear:none;
    }

    .graph {
      margin-left:0;
      position:absolute;
      left:0;
      right:0;
    }
    figure:nth-of-type(1) {
      top: 140px;
    }
    figure:nth-of-type(2) {
      top: 250px;
    }

    .impact-number {
      max-width: 40%;
    }
  }

  figure:nth-of-type(1) {
    max-height: 163px;
    .cursorLine.ascender {
      display: none;
    }
    .x-axis text {
      display: none;
    }
    .inner {
      bottom: 20px;
    }
  }
  figure:nth-of-type(2) {
    .cursorLine.descender {
      display: none;
    }
  }

}


#volumetrics-completion {
  .line0 { stroke: $data-colour-2; }
  .stack0 { fill: mix($data-colour-2, $white, 25%); }
}

#volumetrics-submissions-selected {
  strong {
    color: $data-colour-1;
  }
}

#volumetrics-completion-selected {
  strong {
    color: $data-colour-2;
  }
}

#uptime-graph  {
  .x-axis .tick:nth-child(even) text {
    display:block;
  }
}
