@import 'typography';

.volumetrics {
  .impact-number {
    padding-top:1em;
    width: 10em;
    float:left;
    @include core-16;
    color: $black;
    strong {
      @include bold-48;
      font-family: nta, Arial, sans-serif;
      margin-bottom:-.1em;
      display:block

    }
  }

  ul.module-actions {
    top:-36px;
  }

  h3 {
    height:0;
    margin:0;
    @include bold-19;
  }

  h1 {
    margin-bottom:.5em;
    margin-right:2em;
  }

  .graph {
    margin-left: 11em;
    min-height: 135px;
    max-height: 200px;
  }

  @media (max-width: 880px) {
    
    .graph {
      .x-axis .tick:nth-child(even) text {
        display:none;
      }
    }
  }
  
  @media(max-width: 640px) {
    .graph {
      min-height: 110px;
    }
  }

  @media(max-width: 500px) {
    height:400px;
    .graph {
      margin-left:0;
      position:absolute;
      left:0;
      right:0;
    }
    #volumetrics-submissions {
      top: 140px;
    }
    #volumetrics-completion {
      top: 250px;
    }

    .impact-number {
      max-width: 40%;
    }
  }

}

#volumetrics-submissions {
  .x-axis text {
    display: none;
  }
}

#volumetrics-completion {
  .line0 { stroke: $data-colour-4; }
  .stack0 { fill: mix($data-colour-4, $white, 25%); }
  .cursorLine.descender { stroke: none; }
}

#volumetrics-submissions-selected {
  strong {
    color: $data-colour-1;
  }
}

#volumetrics-completion-selected {
  strong {
    color: $data-colour-4;
  }
}
