@import '_colours';


$primary-colour: #097F96;
$primary-colour-text: darken($primary-colour, 7%);

$data-colour-1: $primary-colour;
$data-colour-2: #D6007D;  //magenta
$data-colour-3: #5E7F00;  //light green
$data-colour-4: #242670;  //blue
$data-colour-5: #005C37;  //dark green
$data-colour-6: #662E91;  //purple
