<!DOCTYPE html>
<html>
<head>
  <title>Limelight</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'vendor/require', data: { main: '/assets/config' } %>
</body>
</html>
